.container_12{
    
}
nav li{display:inline;
text-decoration:none;
margin-left: 0;margin-right:30px;}

aside{
    background:rgb(83, 168, 150);
}
.primary{
   
}
header{
   
   }
.main{
    margin:30px 0;
}
section{
    box-sizing:border-box;
    padding:15px;
}